.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.foot-1 {
  background-color: #515145;
  color: #cdcdcd;
}
.foot-2 {
  background-color: #292952;
  color: #fff;
}

/*https://getbootstrap.com/docs/4.3/layout/overview/*/
/*Medium devices (tablets, 768px and up)*/
/*
@media (min-width: 768px) {
  .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
*/
