<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.3.1/dist/css/bootstrap.css">
    <!-- Website Title -->
    <title>Sample Design - Version 1</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/foliou/2-0-0/img/favicon.ico">
    <!--Custom CSS Files-->
    <link rel="stylesheet" href="custom_css/index.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">AuthenCity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Forside <span class="sr-only">(nuværende)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="prices.html">Priser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Om os</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Navbar Top Height/Break/Clear Fix-->
<div style="height:56px;"></div>

<!-- Carousel -->
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
                style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">First Slide</h3>
                    <p class="lead">This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Second Slide</h3>
                    <p class="lead">This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">
                    Jeres End-Game, Vores Mål
                </h1>
                <p>
                    Vores vision for et godt samarbejde mellem kunden og produktet er helt klart at have et clear flow af information og feedback omkring arbejdet og at vi hele tiden underretter kunden omkring eventulle ændringer der kunne forbedre ens hjemmeside.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Foots-->
<footer class="foot-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    AuthenCity A/S
                </p>
                <p>
                    CVR: xxx
                </p>
                <p>
                    Telefon: +45-12345678
                </p>
                <p>
                    <p>
                        E-mails
                    </p>
                    <p>
                        mail@authencity.dk
                    </p>
                    <p>
                        mail@upthere.dk
                    </p>
                </p>
            </div>
        </div>
    </div>
</footer>
<footer class="foot-2 py-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                CVR: xxx
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="jquery-3.3.1.js"></script>
<!--<script src="https://d19m59y37dris4.cloudfront.net/foliou/2-0-0/vendor/popper.js/umd/popper.min.js"></script>-->
<script src="bootstrap-4.3.1/dist/js/bootstrap.bundle.js"></script>
